.heading {
    font-size: 28px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 20px;
    color: black;
}

body{
    background-size: cover;
}


#Song_name {
    font-size: 35px;
    margin: 15px;
    border-radius: 20px;
}

canvas{
    border: 5px dashed black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey; 
    background-color: black;
}